<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="content">
      <% if (users.length > 0) { %> <% users.forEach(user => { %>

      <h3 class="title"><%= user.firstName %> <%= user.lastName %></h3>

      <p><%= user.email %></p>

      <% }) %> <% } else { %>
      <p>Não há usuários para exibir...</p>
      <% } %>
    </div>
  </body>
</html>
